[submodule "node_modules/node-homey-zwavedriver"]
	path = node_modules/node-homey-zwavedriver
	url = https://github.com/athombv/node-homey-zwavedriver
[submodule "node-homey-zwavedriver"]
	path = node-homey-zwavedriver
	url = https://github.com/athombv/node-homey-zwavedriver.git
[submodule "node_modules/homey-zwavedriver"]
	path = node_modules/homey-zwavedriver
	url = https://github.com/athombv/node-homey-zwavedriver.git
